.h-100 {
  height: 100% !important;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}

.d-inline-block {
  display: inline-block !important;
}

.color-text-2 {
  color: var(--text2);
}

.me-1 {
  margin-inline-end: 0.25rem !important;
}

.d-inline-flex {
  display: inline-flex !important;
}
